body{
    background-color:beige;
    font-family: 'Slabo 27px', serif;
}
.content{
    max-width: 750px;
    margin: 0 auto;
    background-color:papayawhip;
    padding:10px;
    
}
.arreglo{
    max-width: 750px;
    margin: 0 auto;
    background-color:papayawhip;
    padding:10px;
}
#titulo{
    text-align:center;
}
.botones{
    text-align:center;
}
.botones button{
    font-size:15px;
    background: #fff;;
    border:1px solid #ddd;
    margin-right: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.subtitulos{
    display: flex;
}
.subtitulos h2{
    font-size:12px;
}
